:root {
    --color-secondary: #ff6928;
    --color-primary: #fdf2ec;
    --color-gray: #666666;
    --color-black: #000000;
    --color-black-secondary: #1a1b1f;
    --color-black-ternary: #222222;
    --color-white: #ffffff;
}
