@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:opsz,wght@6..96,700&family=Unna:wght@700&display=swap");
@import "./../constants/vars.css";
.cardContainer {
    position: relative;
    border: 2px outset rgba(95, 100, 119, 0.2);
    border-radius: 10px;
    background-color: #fbf5f3;
    margin: 10px 10px;
    margin-bottom: 50px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.overlay {
    position: relative;
    z-index: 1;
    width: 400px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
}
.cardHeader {
    border-bottom: 2px solid rgba(95, 100, 119, 0.2);
    text-align: center;
    margin: 0px 0px 0px 0px;
    padding: 10px 0;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
    vertical-align: top;
}
.overlay img {
    width: 400px;
    vertical-align: top;
}
.overlay:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0);
}
.overlay:hover::before {
    background-color: rgba(0, 0, 0, 0.5);
}
.overlay:hover:after {
    opacity: 1;
}
.overlay img {
    display: block;
}
.overlay .buttonContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    display: flex;
    flex-direction: row;
}
.overlay:hover .buttonContainer {
    opacity: 1;
}
.button {
    margin: 0 10px;
    padding: 5px 15px;
    border: none;
    border-radius: 20px;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.04), 0 1px 1px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    font-size: 18px;
    font-family: "Space Grotesk";
    font-weight: 500;
    background: var(--color-secondary);
}
