@import url(./../constants/vars.css);
.container {
    color: var(--color-black-ternary);
    padding: 0 100px 0 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    background: var(--color-primary);
}
.leftContent {
    padding: 10px;
}
.mainText {
    margin: 10px 0 0 0;
    line-height: 60px;
    font-size: 50px;
    font-weight: 500;
}
.subText {
    margin: 10px 0 0 0;
    font-size: 24px;
    font-weight: 400;
}
.create {
    margin-top: 20px;
}
.createButton {
    font-family: "Space Grotesk";
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-secondary);
    border: 0;
    padding: 10px 20px 10px 20px;
    border-radius: 24px;
    color: var(--color-white);
}
.createButton:hover {
    background-color: rgba(255, 105, 40, 0.9);
    text-decoration: none;
    color: var(--color-white);
}
.createButton:active {
    background-color: rgba(255, 105, 40, 1);
    text-decoration: none;
    color: var(--color-white);
}
.createArrow {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 5px;
}
.resumeImage {
    height: 70vh;
}
